*{
    margin: 0;
    padding: 0;

}


/*Main Page*/

/*----------------------------------------------------*/

/*Headline*/

.Jumbatron {
    padding-top: 20px;
    position: relative;
    background-image: url("../img/ukeBG.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-y;
    animation: animate 40s linear infinite;
}

@keyframes animate{
    0% {
        background-position: 0 0;
    }
    50%{
        background-position: 0 100%;
    }
    100%{
        background-position: 0 0;
    }
}

.Jumbatron h1{
    font-size: 47px;
    color: white;
    text-shadow: 3px 1px black;

}

.Jumbatron p{
    font-weight: bold;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#ukeLogoL{
    height: 120PX;
    width: 120PX;
    float: left;
}

#ukeLogoR{
    height: 120PX;
    width: 120PX;
    float: right;
}

/*----------------------------------------------------*/

/*navbar*/

.navbar.navbar-inverse{
    margin-bottom: 0;
    padding-bottom: 0;
}

/*----------------------------------------------------*/

.mainPage{
    background: linear-gradient(to bottom right, #283048, #859398, #283048, #859398);
}

#gallery{
    margin-top: 40px;
    /*background-color: #808080;*/
}
#gallery img{
    filter: grayscale(30%);
    height: 150px;
    /*widht: 150px;*/
    margin: 15px;
    border: 1px black solid;
}

#gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}


