<!DOCTYPE html>
<html lang="Hebrew" dir="rtl">
<head>
    <title>Links</title>
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon.png">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=1366">


    <link href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <div class="Jumbatron text-center">
        <div class="container">

            <h1>Jewkulele.com</h1>
            <p>The Hebrew Ukulele Site</p>

        </div>

    </div>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-tabs">
                    <li class="active"><a href="about.html">אודות<span class="sr-only">(current)</span></a></li>
                    <li><a href="links.html">קישורים</a></li>
                    <li><a href="gallery.html">גלריה</a></li>
                    <li><a href="tuner.html" class="pull-right">טיונר</a></li>
                    <li><a href="Chord-Finder.html" class="pull-right">מנוע חיפוש אקורדים</a></li>
                    <li><a href="musicians.html">נגנים מפורסמים</a></li>
                    <li><a href="Uke-Relatives.html" class="pull-right">קרובי משפחה</a></li>
                    <li><a href="Uke-Types.html" class="pull-right">הכלאות</a></li>
                    <li><a href="Uke-Sizes.html" class="pull-right">גדלי היוקוללה</a></li>
                    <li><a href="../index.html">דף הבית</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid bg-warning" id="about" dir="rtl">

        <div class="container">
            <h1><strong>למה בניתי את האתר הזה?</strong></h1>

            <p>אתר זה נוצר מתוך הרצון להתמקצע בתחום ה web development. מטרתי העקרית הייתה להקים פרוייקט בנושא הקרוב לליבי על מנת שאוכל ליישם באמצעותו כישורים שונים שלמדתי בחודשים האחרונים. תחילה בניתי את האתר בכלים הבסיסיים וההכרחיים ביותר - HTML, CSS, JavaScript. לאחר מכן שמתי דגש על העיצוב בCSS והוספתי אלמנטים רבים מBootstrap. בנוסף, השתמשתי בjQuery ובCSS על מנת להוסיף קצת אנימציה ודינמיות לאתר. לבסוף, כחלק מהצורך לשפר את יכולות התכנות שלי בניתי מנוע חיפוש אקורדים באמצעות JavaScript. בעתיד אני מקווה להעביר את האתר כולו לAngular (תהליך שכבר התחלתי בו).</p>
            <p>תהליך הבנייה היה מאתגר ומהנה מאוד. אני מקווה שגם בעתיד אמצא את הזמן להשקיע באתר ולהרחיב אותו.</p>

            <br>

            <h1><strong>מי אני?</strong></h1>

            <p>שמי ירדן, מפתח Web בהתהוות ונגן חובב.</p>
            <p>הנה אני מנגן, לא לצחוק:</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/YGlkub5joZ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            <br><br>

            <h3><strong>המייל שלי:</strong></h3>

            <p>jordiamir@gmail.com</p>

            <br>

            <h5>אשמח לכל פידבק, שאלה, בקשה או הצעה.</h5>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="../js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
</html>