<!DOCTYPE html>
<html>
<head>
	<title>Chord Finder</title>
	<link rel="stylesheet" type="text/css" href="../css/chordFinder.css">


	<script type="text/javascript" src="../js/chordFinder.js"></script>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Jewkulele - Main Page</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div class="Jumbatron text-center">
		<div class="container">
			
			<h1>Jewkulele.com</h1>
			<p>The Hebrew Ukulele Site</p>

		</div>	
	
	</div>

	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav nav-tabs">
			  <li><a href="about.html">אודות</a></li>
			  <li><a href="links.html">קישורים</a></li>
			  <li><a href="gallery.html">גלריה</a></li>
			  <li><a href="tuner.html" class="pull-right">טיונר</a></li>
			  <li class="active"><a href="Chord-Finder.html" class="pull-right">מנוע חיפוש אקורדים<span class="sr-only">(current)</span></a></li>
			  <li><a href="musicians.html">נגנים מפורסמים</a></li>
			  <li><a href="Uke-Relatives.html" class="pull-right">קרובי משפחה</a></li>
			  <li><a href="Uke-Types.html" class="pull-right">הכלאות</a></li>
			  <li><a href="Uke-Sizes.html" class="pull-right">גדלי היוקוללה</a></li>
			  <li><a href="../index.html">דף הבית</a></li>
	      </ul>	      
	    </div>
	  </div>
	</nav>

	<div class="chordFinder">

		<div class="chooseChord">
			<h1>:בחר/י אקורד נשמה</h1>
		</div>

		<br>


		<div class="chordIndex">
			
			<br>
			<form>
				<label>?איזה אקורד עושה לך את זה</label>
				<select id="chordSelect1" onchange="showChordSelect2(); displayImg(); resetChord2(); resetPosition(); changeStartHere()">
					<option value="-">:התחל כאן</option>
					<option value="A">A</option>
					<option value="Bb">Bb</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="C#">C#</option>
					<option value="D">D</option>
					<option value="D#">D#</option>
					<option value="E">E</option>
					<option value="F">F</option>
					<option value="F#">F#</option>
					<option value="G">G</option>
					<option value="G#">G#</option>
				</select>
				<select id="chordSelect2" onchange="resetDots(); resetPosition(); displayImg()">
					<option value="-">-</option>
					<option value="Major" id="Major">Major</option>
					<option value="Minor" id="Minor">Minor</option>
					<option value="7" id="Seven">7</option>
					<option value="m7" id="m7">m7</option>
					<option value="maj7" id="maj7">maj7</option>
				</select>
			</form>

			<form>
				<label>?תנוחה אהובה</label>
				<select id="position" onchange="displayImg()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</form>

			<button id="playBtn" onclick="playChord()">נגן</button>

		</div>

		<div>
			<img src="../img/Ukulele Neck.jpg" alt="not working" id="chordType">
		</div>



		<!--Uke notes:-->

		<audio id="ukeC">
			<source src="../audio/C.wav" type="audio/wav">
		</audio>
		<audio id="ukeC#">
			<source src="../audio/Csharp.wav" type="audio/wav">
		</audio>
		<audio id="ukeD">
			<source src="../audio/D.wav" type="audio/wav">
		</audio>
		<audio id="ukeD#">
			<source src="../audio/Dsharp.wav" type="audio/wav">
		</audio>
		<audio id="ukeE">
			<source src="../audio/E.wav" type="audio/wav">
		</audio>
		<audio id="ukeF">
			<source src="../audio/F.wav" type="audio/wav">
		</audio>
		<audio id="ukeF#">
			<source src="../audio/Fsharp.wav" type="audio/wav">
		</audio>
		<audio id="ukeG">
			<source src="../audio/G.wav" type="audio/wav">
		</audio>
		<audio id="ukeG#">
			<source src="../audio/Gsharp.wav" type="audio/wav">
		</audio>
		<audio id="ukeA">
			<source src="../audio/A.wav" type="audio/wav">
		</audio>
		<audio id="ukeBb">
			<source src="../audio/Bb.wav" type="audio/wav">
		</audio>
		<audio id="ukeB">
			<source src="../audio/B.wav" type="audio/wav">
		</audio>
		<audio id="ukeC2">
			<source src="../audio/C2.wav" type="audio/wav">
		</audio>
		<audio id="ukeC#2">
			<source src="../audio/Csharp2.wav" type="audio/wav">
		</audio>
		<audio id="ukeD2">
			<source src="../audio/D2.wav" type="audio/wav">
		</audio>
		<audio id="ukeD#2">
			<source src="../audio/Dsharp2.wav" type="audio/wav">
		</audio>
		<audio id="ukeE2">
			<source src="../audio/E2.wav" type="audio/wav">
		</audio>
		<audio id="ukeF2">
			<source src="../audio/F2.wav" type="audio/wav">
		</audio>
		<audio id="ukeF#2">
			<source src="../audio/Fsharp2.wav" type="audio/wav">
		</audio>
		<audio id="ukeG2">
			<source src="../audio/G2.wav" type="audio/wav">
		</audio>
		<audio id="ukeG#2">
			<source src="../audio/Gsharp2.wav" type="audio/wav">
		</audio>
		<audio id="ukeA2">
			<source src="../audio/A2.wav" type="audio/wav">
		</audio>
		
		<br>


		<div class="bottomLine">

			<!--Hidden fingering dots:-->
			<img src="../img/green dot.jpg" alt="not working" id="greenDot1">


			<img src="../img/green dot.jpg" alt="not working" id="greenDot2">


			<img src="../img/green dot.jpg" alt="not working" id="greenDot3">


			<img src="../img/green dot.jpg" alt="not working" id="greenDot4">
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src="../js/bootstrap.min.js"></script>

</body>
</html>