<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="../css/gallery.css">
    <link href='http://serve.fontsproject.com/css?family=Nehama:400'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" type="text/css" href="../other/lightbox.css">
    <script type="text/javascript" src="../other/lightbox-plus-jquery.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=1366">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="mainPage">


    <div class="Jumbatron text-center">
        <div class="container">

            <h1>Jewkulele.com</h1>
            <p>The Hebrew Ukulele Site</p>

        </div>

    </div>


    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-tabs">
                    <li><a href="about.html">אודות</a></li>
                    <li><a href="links.html">קישורים</a></li>
                    <li class="active"><a href="gallery.html">גלריה<span class="sr-only">(current)</span></a></li>
                    <li><a href="tuner.html" class="pull-right">טיונר</a></li>
                    <li><a href="Chord-Finder.html" class="pull-right">מנוע חיפוש אקורדים</a></li>
                    <li><a href="musicians.html">נגנים מפורסמים</a></li>
                    <li><a href="Uke-Relatives.html" class="pull-right">קרובי משפחה</a></li>
                    <li><a href="Uke-Types.html" class="pull-right">הכלאות</a></li>
                    <li><a href="Uke-Sizes.html" class="pull-right">גדלי היוקוללה</a></li>
                    <li><a href="../index.html">דף הבית</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="gallery">

        <div class="row text-center">
            <a href="../img/gallery/uke1.jpg" data-lightbox="gallery"><img src="../img/gallery/uke1.jpg" alt="no image 1"></a>
            <a href="../img/gallery/uke2.jpg" data-lightbox="gallery"><img src="../img/gallery/uke2.jpg" alt="no image 2"></a>
            <a href="../img/gallery/uke3.jpg" data-lightbox="gallery"><img src="../img/gallery/uke3.jpg" alt="no image 3"></a>
            <a href="../img/gallery/uke4.jpg" data-lightbox="gallery"><img src="../img/gallery/uke4.jpg" alt="no image 4"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke5.jpg" data-lightbox="gallery"><img src="../img/gallery/uke5.jpg" alt="no image 5"></a>
            <a href="../img/gallery/uke6.jpg" data-lightbox="gallery"><img src="../img/gallery/uke6.jpg" alt="no image 6"></a>
            <a href="../img/gallery/uke7.jpg" data-lightbox="gallery"><img src="../img/gallery/uke7.jpg" alt="no image 7"></a>
            <a href="../img/gallery/uke8.jpg" data-lightbox="gallery"><img src="../img/gallery/uke8.jpg" alt="no image 8"></a>
            <a href="../img/gallery/uke9.jpg" data-lightbox="gallery"><img src="../img/gallery/uke9.jpg" alt="no image 9"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke10.jpg" data-lightbox="gallery"><img src="../img/gallery/uke10.jpg" alt="no image 10"></a>
            <a href="../img/gallery/uke11.jpg" data-lightbox="gallery"><img src="../img/gallery/uke11.jpg" alt="no image 11"></a>
            <a href="../img/gallery/uke12.jpg" data-lightbox="gallery"><img src="../img/gallery/uke12.jpg" alt="no image 12"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke13.jpg" data-lightbox="gallery"><img src="../img/gallery/uke13.jpg" alt="no image 13"></a>
            <a href="../img/gallery/uke14.jpg" data-lightbox="gallery"><img src="../img/gallery/uke14.jpg" alt="no image 14"></a>
            <a href="../img/gallery/uke15.jpg" data-lightbox="gallery"><img src="../img/gallery/uke15.jpg" alt="no image 15"></a>
            <a href="../img/gallery/uke16.jpg" data-lightbox="gallery"><img src="../img/gallery/uke16.jpg" alt="no image 16"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke17.jpg" data-lightbox="gallery"><img src="../img/gallery/uke17.jpg" alt="no image 17"></a>
            <a href="../img/gallery/uke18.jpg" data-lightbox="gallery"><img src="../img/gallery/uke18.jpg" alt="no image 18"></a>
            <a href="../img/gallery/uke19.jpg" data-lightbox="gallery"><img src="../img/gallery/uke19.jpg" alt="no image 19"></a>
            <a href="../img/gallery/uke20.jpg" data-lightbox="gallery"><img src="../img/gallery/uke20.jpg" alt="no image 20"></a>
            <a href="../img/gallery/uke21.jpg" data-lightbox="gallery"><img src="../img/gallery/uke21.jpg" alt="no image 21"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke22.jpg" data-lightbox="gallery"><img src="../img/gallery/uke22.jpg" alt="no image 22"></a>
            <a href="../img/gallery/uke23.jpg" data-lightbox="gallery"><img src="../img/gallery/uke23.jpg" alt="no image 23"></a>
            <a href="../img/gallery/uke24.jpg" data-lightbox="gallery"><img src="../img/gallery/uke24.jpg" alt="no image 24"></a>
            <a href="../img/gallery/uke25.jpg" data-lightbox="gallery"><img src="../img/gallery/uke25.jpg" alt="no image 25"></a>
            <a href="../img/gallery/uke26.jpg" data-lightbox="gallery"><img src="../img/gallery/uke26.jpg" alt="no image 26"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke27.jpg" data-lightbox="gallery"><img src="../img/gallery/uke27.jpg" alt="no image 27"></a>
            <a href="../img/gallery/uke28.jpg" data-lightbox="gallery"><img src="../img/gallery/uke28.jpg" alt="no image 28"></a>
            <a href="../img/gallery/uke29.jpg" data-lightbox="gallery"><img src="../img/gallery/uke29.jpg" alt="no image 29"></a>
            <a href="../img/gallery/uke30.jpg" data-lightbox="gallery"><img src="../img/gallery/uke30.jpg" alt="no image 30"></a>
            <a href="../img/gallery/uke31.jpg" data-lightbox="gallery"><img src="../img/gallery/uke31.jpg" alt="no image 31"></a>
            <a href="../img/gallery/uke32.jpg" data-lightbox="gallery"><img src="../img/gallery/uke32.jpg" alt="no image 32"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke33.jpg" data-lightbox="gallery"><img src="../img/gallery/uke33.jpg" alt="no image 33"></a>
            <a href="../img/gallery/uke34.jpg" data-lightbox="gallery"><img src="../img/gallery/uke34.jpg" alt="no image 34"></a>
            <a href="../img/gallery/uke35.jpg" data-lightbox="gallery"><img src="../img/gallery/uke35.jpg" alt="no image 35"></a>
            <a href="../img/gallery/uke36.jpg" data-lightbox="gallery"><img src="../img/gallery/uke36.jpg" alt="no image 36"></a>
        </div>

        <div class="row text-center">
            <a href="../img/gallery/uke37.jpg" data-lightbox="gallery"><img src="../img/gallery/uke37.jpg" alt="no image 37"></a>
            <a href="../img/gallery/uke38.jpg" data-lightbox="gallery"><img src="../img/gallery/uke38.jpg" alt="no image 38"></a>
            <a href="../img/gallery/uke39.jpg" data-lightbox="gallery"><img src="../img/gallery/uke39.jpg" alt="no image 39"></a>
            <a href="../img/gallery/uke40.jpg" data-lightbox="gallery"><img src="../img/gallery/uke40.jpg" alt="no image 40"></a>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="../js/bootstrap.min.js"></script>
</body>
</html>